.config\*
.media\*
.git\*
.github\*
.dockerignore
.env
.gitattributes
.gitignore
rootfs\app\logback.xml
rootfs\app\server.log
build-push.ps1
Dockerfile*
docker-compose.yml
LICENSE
README.md
logback.xml
server.log
