<configuration scan="true" scanPeriod="10 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="GUI" class="ctbrec.ui.tabs.logging.CtbrecAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/app/config/server.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>ctbrec.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="GUI" />
	</root>
	
	<logger name="ctbrec.sites.cam4.Cam4Model" level="INFO"/>
	<logger name="ctbrec.sites.flirt4free.Flirt4FreeModel" level="INFO"/>
	<logger name="ctbrec.sites.fc2live.Fc2Model" level="INFO"/>
	<logger name="ctbrec.sites.stripchat.StripChatModel" level="INFO"/>
	<logger name="ctbrec.sites.bongacams.BongaCamsModel" level="INFO"/>
	
	<logger name="ctbrec.LoggingInterceptor" level="info"/>
	<logger name="ctbrec.io.CookieJarImpl" level="INFO"/>
	<logger name="ctbrec.recorder.FFmpeg" level="DEBUG"/>
	<logger name="ctbrec.recorder.OnlineMonitor" level="DEBUG"/>
	<logger name="ctbrec.recorder.RecordingFileMonitor" level="TRACE"/>
	<logger name="ctbrec.recorder.download.dash.DashDownload" level="INFO"/>
	<logger name="ctbrec.recorder.server.HlsServlet" level="DEBUG"/>
	<logger name="ctbrec.recorder.server.RecorderServlet" level="DEBUG"/>
	<logger name="ctbrec.recorder.ThreadPoolScaler" level="DEBUG"/>
	<logger name="ctbrec.ui.ExternalBrowser" level="INFO"/>
	<logger name="ctbrec.ui.ThumbOverviewTab" level="INFO"/>
	<logger name="org.eclipse.jetty" level="INFO" />
	
</configuration>
