<configuration scan="true" scanPeriod="10 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="ctbrec.LoggingInterceptor" level="INFO"/>
	<logger name="ctbrec.io.CookieJarImpl" level="INFO"/>
	<logger name="ctbrec.recorder.Chaturbate" level="INFO" />
	<logger name="ctbrec.recorder.FFmpeg" level="DEBUG"/>
	<logger name="ctbrec.recorder.OnlineMonitor" level="INFO"/>
	<logger name="ctbrec.recorder.server.HlsServlet" level="INFO"/>
	<logger name="ctbrec.recorder.server.RecorderServlet" level="INFO"/>
	<logger name="ctbrec.recorder.ThreadPoolScaler" level="DEBUG"/>
	<logger name="org.eclipse.jetty" level="INFO" />
	
</configuration>
